@import "./_general";
@import "./animations";

$border-grey: #eeeeee;

input:disabled {
  background: $border-grey;
}

.el-input__inner {
  border: 1px solid #d6d6d6;
  border-radius: 0;
}

.location-dropdown__select {
  margin: 10px;

  .el-input {
    .el-input__inner {
      background: $ebony-clay;
      border: 1px solid;
      border-radius: 0;
      color: $white;
      height: 42px;
      position: relative;
    }

    .el-input__icon {
      color: $white;
      z-index: 1;
    }
  }
}

.location-selector-component {
  position: relative;
  top: 13px;
  .location-dropdown-toggle {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.nav-list {
  .list-item-location {
    .location-dropdown {
      display: block;
      position: relative;
      background: $ebony-clay;
      padding-bottom: 10px;
      width: 180px;
      top: 10px;
      .location-select {
        width: 120px;
        color: $white;
        border: 1px solid $white;
        background: transparent url("../img/arrow-67-white.png") no-repeat 90%
          50%;
        background-size: 10px;
        margin: 10px;
        text-transform: capitalize;
      }
    }
  }
  .list-item-bag {
    .link-your-bag {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 11px 20px;

      @media screen and (min-width: 768px) {
        padding: 12px 22px;

        &:hover,
        &:focus {
          background: #353e49;
        }
      }

      &.not-empty {
        color: $mine-shaft;
        background: $my-sin;

        .cart-item-number {
          color: $white;
          background: $valencia;
        }

        @media screen and (min-width: 768px) {
          &:hover,
          &:focus {
            background: #ffc447;
          }
        }
      }

      &.icon-hand-bag::before {
        @media screen and (min-width: 768px) {
          bottom: 0px;
        }
      }

      .cart {
        position: relative;
        top: 3px;
      }

      .cart-item-number {
        position: absolute;
        color: $ebony-clay;
        background: $my-sin;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        right: 10px;
        bottom: 20px;
        letter-spacing: normal;
        font-size: 12px;
        font-weight: bold;

        @media screen and (min-width: 768px) {
          position: relative;
          width: 25px;
          height: 25px;
          bottom: 0px;
          margin-left: 5px;
          line-height: 26px;
          right: 0;
        }
      }
    }
  }
  .list-item-user {
    @media screen and (min-width: 768px) {
      .link-user {
        padding: 15px 22px;
      }
    }
  }
}
.signup-title-dropdown {
  .el-input__inner {
    height: 42px;
    max-width: 120px;
    border-radius: 0;
    color: $mine-shaft;
    border-color: $border-grey;
  }
}
#panel {
  background-color: #f5f2ea;
  padding-bottom: 500px;

  @media screen and (min-width: 768px) {
    padding-bottom: 300px;
  }
}
.container--home {
  margin: 0;
  padding: 0 15px;
}
.banner-home--left {
  border-right: 1px solid #fff;
}
.banner-home--right {
  border-left: 1px solid #fff;
}
.banner-home--top {
  border-bottom: 1px solid #fff;
}
.banner-home--bottom {
  border-top: 1px solid #fff;
}
.home-banner-option-three {
  .banner-text {
    top: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0);
  }
}
.sidebar-wishlist-quantity {
  width: 20px;
  height: 20px;
  padding: 1px 7px;
}

.my-account {
  padding-bottom: 50px;
}

.my-account-sidebar:last-child {
  border-bottom: 1px solid #d6d6d6;
}

.my-account-sidebar .my-account-sidebar-items:last-child {
  border-bottom: none;
}

.address-book-dark-box-title-no-padding {
  color: $mine-shaft;
  font-size: 14px;
  text-transform: uppercase;
}

.add-new-address-btn {
  button {
    @media screen and (max-width: 767px) {
      margin-top: 0px;
    }
  }
}

.cancel-editting-address-btn {
  padding: 8px 20px;
}

.navigation {
  background-color: white;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 1000;
  border-bottom: 1px solid #d6d6d6;
}

.product-detail-rating {
  .Rate__star {
    padding: 0px !important;
  }

  .icon {
    margin: 0 2px !important;
  }
}

.product-actions-list > li .bag-items {
  line-height: inherit;
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 50px;
  }

  .header {
    z-index: 2;
  }

  .navbar-default {
    z-index: 0;
  }

  .slideout-menu {
    position: fixed;
    top: 50px;
    bottom: 0;
    width: 256px;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 0;
    display: none;
    background-color: #2a343f;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-default {
    .navbar-nav {
      li {
        list-style: none;
        text-align: left;
      }

      > li {
        > a,
        > a:hover,
        > a:focus {
          color: white;
          padding: 20px 15px;
          font-size: 18px;
          text-transform: uppercase;
          width: 50%;
          display: inline-block;

          .sale {
            color: #d54d4d;
          }
        }
      }

      .dropdown-collapse {
        float: right;
      }
    }
  }

  .slideout-menu-left {
    left: 0;
  }

  .slideout-menu-right {
    right: 0;
  }

  .slideout-panel {
    position: relative;
    z-index: 1;
    will-change: transform;
    min-height: 100vh;
  }

  .slideout-open,
  .slideout-open body,
  .slideout-open .slideout-panel {
    overflow: hidden;
  }

  .slideout-open .slideout-menu {
    display: block;
  }

  .mobile-plus-content {
    color: white;
    opacity: 1;
    font-weight: bold;
  }
}

.shop-item {
  max-height: 500px;

  .pop-product-image {
    position: relative;
    overflow: hidden;
    height: 200px;

    @media screen and (min-width: 768px) {
      height: 300px;
    }

    > img {
      display: block;
      max-width: 100%;
      height: auto;
    }
  }
}

.product-detail-price {
  padding: 10px 0px 0px;
}

.pdp-product-reserve {
  height: 52px;
  padding: 10px 25px;
  min-width: 230px;
  margin-left: 13px;
}

.add-to-bag-btn {
  min-width: 230px;
}

.megamenu {
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.dropdown:hover .megamenu {
  @media screen and (min-width: 768px) {
    display: initial;
    padding: 20px;
  }
}

.footer {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 500px;
  z-index: 1;

  @media screen and (min-width: 768px) {
    height: 300px;
    bottom: 55px;
  }
}

#pop-product-list {
  width: 100%;
  float: none;
  padding: 20px 0px;
}

.jumbotron-row {
  margin-bottom: 0px;
}

.jumbotron {
  margin: 25px 15px 0px 15px;
  padding: 20px;
}
