@import '../_general';

$border-grey: #eeeeee;

.location-dropdown__select {
  margin: 10px;

  .el-input {
    .el-input__inner {
      background: $ebony-clay;
      border: 1px solid;
      border-radius: 0;
      color: $white;
      height: 42px;
      position: relative;
    }

    .el-input__icon {
      color: $white;
      z-index: 1;
    }
  }
}

.location-selector-component {
  position: relative;
  top: 13px;
  .location-dropdown-toggle {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}
.nav-list {
  > li:active {
    position: relative;
    top: 1px;
  }

  .list-item-location {
    .location-dropdown {
      display: block;
      position: relative;
      background: $ebony-clay;
      padding-bottom: 10px;
      width: 180px;
      top: 10px;
      .location-select {
        width: 120px;
        color: $white;
        border: 1px solid $white;
        background: transparent url('../../img/arrow-67-white.png') no-repeat 90% 50%;
        background-size: 10px;
        margin: 10px;
        text-transform: capitalize;
      }
    }
  }
  .list-item-bag {
    .link-your-bag {
      display: inline-block;
      width: 100%;
      height: 100%;
      padding: 11px 20px;

      @media screen and (min-width: 768px) {
        padding: 12px 22px;

        &:hover,
        &:focus {
          background: #353e49;
        }
      }

      &.not-empty {
        color: $mine-shaft;
        background: $my-sin;

        .cart-item-number {
          color: $white;
          background: $valencia;
        }

        @media screen and (min-width: 768px) {
          &:hover,
          &:focus {
            background: #ffc447;
          }
        }
      }

      &.icon-hand-bag::before {
        @media screen and (min-width: 768px) {
          bottom: 0px;
        }
      }

      .cart {
        position: relative;
        top: 3px;
      }

      .cart-item-number {
        position: absolute;
        color: $ebony-clay;
        background: $my-sin;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 20px;
        right: 10px;
        bottom: 20px;
        letter-spacing: normal;
        font-size: 12px;
        font-weight: bold;

        @media screen and (min-width: 768px) {
          position: relative;
          width: 25px;
          height: 25px;
          bottom: 0px;
          margin-left: 5px;
          line-height: 26px;
          right: 0;
        }
      }
    }
  }
  .list-item-user {
    @media screen and (min-width: 768px) {
      .link-user {
        padding: 15px 22px;
      }
    }
  }
}
.signup-title-dropdown {
  .el-input__inner {
    height: 42px;
    max-width: 120px;
    border-radius: 0;
    color: $mine-shaft;
    border-color: $border-grey;
  }
}
.container--home {
  margin: 0;
  padding: 0 15px;
}
.banner-home--left {
  border-right: 1px solid #fff;
}
.banner-home--right {
  border-left: 1px solid #fff;
}
.banner-home--top {
  border-bottom: 1px solid #fff;
}
.banner-home--bottom {
  border-top: 1px solid #fff;
}
.home-banner-option-three {
  .banner-text {
    top: 0;
    bottom: auto;
    background: rgba(0, 0, 0, 0);
  }
}
.logo:active {
  position: relative;
  top: 1px;
}
